body{
  margin: 0;
  padding: 0;
}
.brandTitle{
  font-size: 1.8rem !important;
  padding: 0 0.2rem !important;
  margin: 0 0.2rem !important;

}

.text-overflow{
  --lh:1.4rem;
  --max-lines:2;
  line-height: var(--lh);
  overflow: hidden;
  max-height:calc(var(--lh)*var(--max-lines));
}
/* .cards{
  max-height:15rem;
  height: 8.5rem !important;
  width: 30rem;
  max-width: 18rem;
} */